<!DOCTYPE html>
<html>

<head>
  <% include ../partials/header %>
</head>

<body>
  <% include ../partials/navbar %>

  <div class="table stock">
    <table class="table table-stock">
      <thead>
        <tr>
          <th scope="col">Artikel</th>
          <th scope="col">Stückzahl</th>
          <th scope="col">Hinzufügen (1x)</th>
          <th scope="col">Löschen (1x)</th>
        </tr>
      </thead>
      <tbody>
        <% stockElements.forEach(s => { %>
        <tr id="<%= s.name %>">
          <th scope="row"><%= s.name %></th>
          <th scope="row"><%= s.amountStock %></th>
          <td><%- include('../partials/button-stock', {label:"+", id: "add", name: s.name, amountStock: s.amountStock}); %>
          </td>
          <td><%- include('../partials/button-stock', {label:"-", id: "remove", name: s.name, amountStock: s.amountStock}); %>
          </td>
        </tr>
        <% }) %>
      </tbody>
    </table>
  </div>

</body>

</html>